.form-card {
  padding: 16px 12px 32px 8px;
}

.input-text {
  outline: none;
  border: none;
}

.textarea-text {
  outline: none;
  border: none;
}

@keyframes autofill {
  to {
    color: #000000;
    background: transparent;
  }
}

.input-text:autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

.textarea-text:autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

@-webkit-keyframes autofill {
  to {
    color: #000000;
    background: transparent;
  }
}

.input-text:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.textarea-text:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.textarea-text:focus,
.input-text:focus {
  border-color: transparent !important;
}

.input-text:focus::-webkit-input-placeholder {
  color: transparent;
}

.input-text:focus:-moz-placeholder {
  color: transparent;
}

.input-text:focus::-moz-placeholder {
  color: transparent;
}

.input-text:focus:-ms-input-placeholder {
  color: transparent;
}

.textarea-text:focus::-webkit-input-placeholder {
  color: transparent;
}

.textarea-text:focus:-moz-placeholder {
  color: transparent;
}

.textarea-text:focus::-moz-placeholder {
  color: transparent;
}

.textarea-text:focus:-ms-input-placeholder {
  color: transparent;
}

.input-text::-webkit-input-placeholder {
  color: transparent;
}

.input-text:-moz-placeholder {
  color: transparent;
}

.input-text::-moz-placeholder {
  color: transparent;
}

.input-text:-ms-input-placeholder {
  color: transparent;
}

.textarea-text::-webkit-input-placeholder {
  color: transparent;
}

.textarea-text:-moz-placeholder {
  color: transparent;
}

.textarea-text::-moz-placeholder {
  color: transparent;
}

.textarea-text:-ms-input-placeholder {
  color: transparent;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input-text {
  width: 88%;
  position: relative;
  margin: auto;
  border-bottom: 2px solid #acacac;
}

.input-text {
  font-size: 18px;
  color: #000000;
  line-height: 1.2;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input-text {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input-text::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #ff0000;
}

.focus-input-text::after {
  font-size: 18px;
  color: #7e7e7e;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input-text:focus+.focus-input-text::after {
  top: -20px;
  font-size: 15px;
  color: #db1d1d;
}

.input-text:focus+.focus-input-text::before {
  width: 100%;
}

.has-val.input-text+.focus-input-text::after {
  top: -20px;
  font-size: 15px;
  color: #db1d1d;
}

.has-val.input-text+.focus-input-text::before {
  width: 100%;
}

.submit-btn {
  background-color: #db1d1d !important;
  color: #ffffff !important;
  text-transform: uppercase;
}

.submit-btn:disabled {
  background-color: #8d8d8d !important;
}

.help {
  color: #ca2020;
  width: 88%;
  margin: auto;
  
}

.mat-link {
  text-transform: uppercase;
  padding: 4px;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.mat-link:hover {
  text-decoration: none;
}

.mat-link-blue {
  color: #0099ff;
}

.mat-link-blue:not([href]):not([tabindex]) {
  color: #0099ff;
}

.mat-link-red {
  color: #ca1212;
}

.mat-link-red:not([href]):not([tabindex]) {
  color: #ca1212;
}

.mat-nav-link {
  text-transform: uppercase;
  padding: 32px 12px 0 12px;
  color: #0099ff;
  font-weight: 600;
  font-size: 13.5px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.mat-nav-link:hover {
  text-decoration: none;
}

.mat-nav-link-blue:not([href]):not([tabindex]) {
  color: #0099ff;
}

.mat-link-bottom-right {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.mat-link-bottom-center {
  position: absolute;
  bottom: 0;
  left: 45%;
}

.m-form-card-title {
  font-size: 1.5em;

}

.m-form-card-subtitle {
  font-size: 0.85em;
}


.material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(--material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.material-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.material-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.material-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px; /* Safari */
  border-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.material-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.material-checkbox > input:checked,
.material-checkbox > input:indeterminate {
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked + span::before,
.material-checkbox > input:indeterminate + span::before {
  border-color: rgb(var(--material-primary-rgb, 33, 150, 243));
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked + span::after,
.material-checkbox > input:indeterminate + span::after {
  border-color: rgb(var(--material-onprimary-rgb, 255, 255, 255));
}

.material-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.material-checkbox:hover > input {
  opacity: 0.04;
}

.material-checkbox > input:focus {
  opacity: 0.12;
}

.material-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.material-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.material-checkbox > input:active + span::before {
  border-color: rgb(var(--material-primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.material-checkbox > input:disabled {
  opacity: 0;
}

.material-checkbox > input:disabled + span {
  color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.material-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.material-checkbox > input:checked:disabled + span::before,
.material-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}
